*{
    font-family: 'Open Sans', sans-serif;
}
.single-product {
    text-align: center;
    margin-bottom: 50px
}

.single-product .product-img {
    position: relative;
    overflow: hidden
}

.single-product .product-img .p_icon {
    width: 90%;
    padding: 7px 30px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(113, 205, 20, 0.4);
    transition: all 400ms ease
}
.more-than{
    display: inline-block !important;
    border-radius: 5%;
    width: 150px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #71cd14;
    animation: ease-in-out 4s;
}
.more-than a{
    color: #71cd14;
    text-decoration: none;
}
.more-than:hover{
      background-color: #71cd14;
      
}
.more-than a:hover{  
    color: white;
    
}
.single-product .product-img .p_icon a {
    display: inline-block;
    height: 36px;
    line-height: 40px;
    width: 36px;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    color: #2a2a2a;
    margin-right: 25px;
}

.single-product .product-img .p_icon a:last-child {
    margin-right: 0px
}

.single-product .product-img .p_icon a:hover {
    color: #fff;
    background: #71cd14
}

.single-product .product-btm {
    padding: 22px 25px 18px;
    border: 1px solid #f0f2f1;
    text-align: left
}

.single-product .product-btm h4 {
    color: #4a4a4a;
    font-size: 15px;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px;
    transition: all 300ms linear 0s;
    
}
.single-product .product-btm a{
    text-decoration: none;
}
.single-product .product-btm h5 {
    margin-bottom: 0px;
    font-size: 18px;
    color: #797979
}

del{
    float: right;
}

.single-product .product-btm span {
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    color: #2a2a2a
}

.single-product:hover .product-img .p_icon {
    bottom: 0px
}

.single-product:hover .product-btm h4 {
    color: #71cd14
}